## **Import Libraries**

In [1]:
# Import libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# **Input data**

In [2]:
#Input data
df = pd.read_csv("https://raw.githubusercontent.com/lavibula/ML20222.PredictionBitcoin/main/data/data.csv")

df

,Date,BTC_close,BTC_open,BTC_high,BTC_low,difficulty,addresses_active_count,sum_lock_weight,mean_lock_size_ytes,total_fees_usd,...,ETH,LTC,XRP,DOGE,COPPER,GOLD,SILVER,SPX,JP225,DJI
0,2023-06-22,29890.5,29992.8,30497.8,29590.4,52350439455487,1000988,547153915,1.650655e+06,1.292778e+06,...,1872.32,85.97,0.49401,0.065567,3.8900,1923.70,22.467,4381.89,33445.0,34210.0
1,2023-06-21,29996.9,28307.7,30769.5,28270.5,52350439455487,920555,483181576,1.611773e+06,1.347976e+06,...,1889.87,85.12,0.49995,0.065644,3.9135,1944.90,22.810,4365.69,33390.0,34235.0
2,2023-06-20,28307.7,26845.9,28393.0,26665.5,52350439455487,951926,543133484,1.677592e+06,1.052364e+06,...,1791.61,80.31,0.49270,0.063108,3.8835,1947.70,23.234,4388.71,33155.0,34356.0
3,2023-06-19,26845.9,26339.7,27029.7,26295.1,52350439455487,920552,567091224,1.758290e+06,8.514319e+05,...,1737.06,77.51,0.49341,0.062429,3.8643,1964.05,24.062,0.00,0.0,0.0
4,2023-06-18,26339.7,26515.0,26679.3,26290.6,52350439455487,883864,603064705,1.985675e+06,7.946708e+05,...,1720.98,77.20,0.48699,0.062107,3.8738,1969.45,24.198,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2656,2016-03-14,414.3,412.4,416.1,411.2,158427203767,451902,437739524,7.199663e+05,1.689298e+04,...,0.00,0.00,0.00000,0.000000,0.0000,0.00,0.000,0.00,0.0,0.0
2657,2016-03-13,412.4,410.4,415.9,409.6,158427203767,421585,334817852,6.293569e+05,1.460678e+04,...,0.00,0.00,0.00000,0.000000,0.0000,0.00,0.000,0.00,0.0,0.0
2658,2016-03-12,410.4,419.1,420.7,407.0,158427203767,374730,331208848,5.750154e+05,1.398444e+04,...,0.00,0.00,0.00000,0.000000,0.0000,0.00,0.000,0.00,0.0,0.0
2659,2016-03-11,419.1,415.8,422.4,415.1,158427203767,434658,398582424,6.227850e+05,1.710193e+04,...,0.00,0.00,0.00000,0.000000,0.0000,0.00,0.000,0.00,0.0,0.0
2660,2016-03-10,415.8,412.8,417.5,410.3,158427203767,445273,426654988,6.881532e+05,1.731272e+04,...,0.00,0.00,0.00000,0.000000,0.0000,0.00,0.000,0.00,0.0,0.0

# **Scale Data using MinMaxScaler**

In [3]:
df['Date'] = pd.to_datetime(df['Date'])
df_datetime = df['Date']

# Extract numerical columns
df_numerical = df.drop(columns=['Date'])

# Apply scaling to numerical columns
scaler = MinMaxScaler()

df_numerical_scaled = scaler.fit_transform(df_numerical)
# Combine scaled numerical data with the datetime data
df_scaled= np.insert(df_numerical_scaled, 0, df_datetime, axis=1)
df['Date'] = pd.to_datetime(df['Date'])
df_datetime = df['Date']

# Extract numerical columns
df_numerical = df.drop(columns=['Date'])

# Apply scaling to numerical columns
scaler = MinMaxScaler()

df_numerical_scaled = scaler.fit_transform(df_numerical)
# Combine scaled numerical data with the datetime data
df_numerical_scaled=pd.DataFrame(df_numerical_scaled)

In [4]:
df_numerical_scaled

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,0.439250,0.440768,0.438718,0.442698,1.0,0.631459,0.598872,0.577324,0.059846,0.808522,...,0.389387,0.222248,0.177701,0.095456,0.787848,0.929593,0.763716,0.913548,0.993908,0.932788
1,0.440835,0.415663,0.442679,0.422679,1.0,0.550358,0.477415,0.558749,0.062427,0.713825,...,0.393037,0.220051,0.179838,0.095568,0.792608,0.939838,0.775376,0.910171,0.992273,0.933470
2,0.415668,0.393884,0.408027,0.398336,1.0,0.581989,0.591239,0.590192,0.048604,0.802604,...,0.372602,0.207616,0.177230,0.091876,0.786532,0.941191,0.789789,0.914970,0.985290,0.936769
3,0.393889,0.386342,0.388148,0.392718,1.0,0.550355,0.636725,0.628743,0.039207,0.838115,...,0.361257,0.200377,0.177486,0.090888,0.782643,0.949092,0.817935,0.000000,0.000000,0.000000
4,0.386347,0.388954,0.383038,0.392650,1.0,0.513362,0.705024,0.737369,0.036553,0.891382,...,0.357913,0.199576,0.175176,0.090419,0.784567,0.951701,0.822558,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2656,0.000091,0.000063,0.000082,0.000138,0.0,0.077813,0.391139,0.132717,0.000183,0.000402,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2657,0.000063,0.000033,0.000079,0.000114,0.0,0.047244,0.195733,0.089431,0.000076,0.000062,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2658,0.000033,0.000162,0.000149,0.000074,0.0,0.000000,0.188881,0.063471,0.000047,0.000259,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2659,0.000162,0.000113,0.000174,0.000197,0.0,0.060426,0.316796,0.086292,0.000192,0.000546,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2660,0.000113,0.000069,0.000102,0.000124,0.0,0.071129,0.370094,0.117519,0.000202,0.000456,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [5]:
df_result=pd.concat([df_datetime, df_numerical_scaled], axis=1)

# **Reassign names for columns in dataframe**

In [6]:
df_result.columns=["Date","BTC_close","BTC_open","BTC_high","BTC_low","difficulty","addresses_active_count","sum_lock_weight","mean_lock_size_ytes","total_fees_usd","mean_hash_rate","xfer_cnt","mean_tx_size_usd","ETH","LTC","XRP","DOGE","COPPER","GOLD","SILVER","SPX","JP225","DJI"]

In [7]:
df_result

,Date,BTC_close,BTC_open,BTC_high,BTC_low,difficulty,addresses_active_count,sum_lock_weight,mean_lock_size_ytes,total_fees_usd,...,ETH,LTC,XRP,DOGE,COPPER,GOLD,SILVER,SPX,JP225,DJI
0,2023-06-22,0.439250,0.440768,0.438718,0.442698,1.0,0.631459,0.598872,0.577324,0.059846,...,0.389387,0.222248,0.177701,0.095456,0.787848,0.929593,0.763716,0.913548,0.993908,0.932788
1,2023-06-21,0.440835,0.415663,0.442679,0.422679,1.0,0.550358,0.477415,0.558749,0.062427,...,0.393037,0.220051,0.179838,0.095568,0.792608,0.939838,0.775376,0.910171,0.992273,0.933470
2,2023-06-20,0.415668,0.393884,0.408027,0.398336,1.0,0.581989,0.591239,0.590192,0.048604,...,0.372602,0.207616,0.177230,0.091876,0.786532,0.941191,0.789789,0.914970,0.985290,0.936769
3,2023-06-19,0.393889,0.386342,0.388148,0.392718,1.0,0.550355,0.636725,0.628743,0.039207,...,0.361257,0.200377,0.177486,0.090888,0.782643,0.949092,0.817935,0.000000,0.000000,0.000000
4,2023-06-18,0.386347,0.388954,0.383038,0.392650,1.0,0.513362,0.705024,0.737369,0.036553,...,0.357913,0.199576,0.175176,0.090419,0.784567,0.951701,0.822558,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2656,2016-03-14,0.000091,0.000063,0.000082,0.000138,0.0,0.077813,0.391139,0.132717,0.000183,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2657,2016-03-13,0.000063,0.000033,0.000079,0.000114,0.0,0.047244,0.195733,0.089431,0.000076,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2658,2016-03-12,0.000033,0.000162,0.000149,0.000074,0.0,0.000000,0.188881,0.063471,0.000047,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2659,2016-03-11,0.000162,0.000113,0.000174,0.000197,0.0,0.060426,0.316796,0.086292,0.000192,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2660,2016-03-10,0.000113,0.000069,0.000102,0.000124,0.0,0.071129,0.370094,0.117519,0.000202,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

# **Export Datafram to CSV file**

In [8]:
df_result.to_csv("MinMax_Normalized_data.csv")